config/classes/dynamics/Forum/model.xsd

<xsd:schema xmlns:repository="http://general_server.org/xmlnamespaces/repository/2006" xmlns:database="http://general_server.org/xmlnamespaces/database/2006" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xml:hardlink target="/object:Server/*[6]/repository:general_server/repository:client_functionality/repository:forms/class:XSchema/xsd:schema[2]/*[2]" />

  <xsd:complexType>
    <xsd:sequence>
      <xsd:element name="gs:title" type="xsd:string"/>
      <xsd:element name="gs:description" type="xsd:string"/>
      <xsd:element name="interface:ForumPost" type="class:ForumPost" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>