config/classes/general_server/client_functionality/XSLTemplate/model.xsd

<xsd:schema xmlns:repository="http://general_server.org/xmlnamespaces/repository/2006" xmlns:xsd="http://www.w3.org/2001/XMLSchema">


  <xsd:complexType>
    <xsd:sequence>
  <xsd:attribute name="match" type="xsd:string"/>
  <xsd:attribute name="mode" type="xsd:string"/>
  <xsd:attribute name="gs:server-side-only" type="xsd:boolean" default="false"/>
  </xsd:sequence>
  </xsd:complexType>
<xml:hardlink target="/object:Server/*[6]/repository:general_server/repository:client_functionality/repository:forms/class:XSchema/xsd:schema[2]/*[2]" /></xsd:schema>